version: '2'

# docker-compose build
# docker-compose run urbem rake db:create
# docker-compose run urbem rake db:migrate
# docker-compose run urbem rake db:seed
# docker-compose -d up
volumes:
  db_data: {}
  gems: {}
  storage: {}

services:
  postgres:
    image: postgres:9.4
    volumes:
        - db_data:/var/lib/postgresql/data
    ports:
        - 5432:5432

  redis:
    image: redis:2

  urbem: &urbem
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
    links:
      - redis
      - postgres
    env_file: ./keys.env
    volumes:
        - .:/app
        - gems:/usr/local/bundle
    environment:
      - RAILS_ENV=production

  worker:
    <<: *urbem
    command: bundle exec sidekiq
    depends_on:
      - redis
